.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.content-main{
    width: 100%;
}
   
.content-header h1{
    color: #000000;
    font-family: Abril Fatface;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 2.5rem;
}
  
.content-image img{
    position: absolute;
    left: 1000px;
    top: 30px;
    width: 320px;
    height: 440px;
    border-radius: 0px;
}

/* Abas */
.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.tab-btn {
    background: #dbdbdb;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.tab-btn:hover {
    background: #ebeaea;
}

.tab-btn.active {
    background: #ffffff;
}

/* Conteúdo das Abas */
.tab-content {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
    text-align: left;
    max-width: 190px;
    margin: 0 auto;
}

.tab-content.active {
    display: block;
}

.tab-content.active img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.tab-content.active li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab-content.active li:hover{
    background: #dbdbdb;
}

/* Animação FadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Listas */
.tab-content ul {
    list-style-type: none;
    padding: 0;
}

.tab-content ul li {
    margin: 5px 0;
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 4px;
    font-size: 0.95em;
}

@media (max-width: 1920px) { 
    .content-header h1{
        font-size: 65px;
        margin-top: 7rem;
        margin-left: 42rem;
    }
      
    .content-image img{   
        left: 84rem;
        top: 2rem;
        width: 561px;
        height: 801px;
      }


    .content-tabs{
        margin-left: 0rem;
    }

    .tabs {
        margin-top: 4rem;
        margin-bottom: 30px;
    }
    
    .tab-btn {
        padding: 2rem 3rem;
        font-size: 1.5rem;
    }

    .tab-content {
        max-width: 35rem;
        margin: 0 auto;
    }
    
    .tab-content.active img{
        width: 70px;
        height: 70px;
        margin-right: 5px;
    }
    
    .tab-content ul li {
        margin: 10px 0;
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
  }

  @media (max-width: 1700px) { 
    .content-tabs{
        margin-left: 13rem;
    }
  }

  @media (max-width: 1500px) { 
    .content-tabs{
        margin-left: 25rem;
    }
  }

  @media (max-width: 1366px) { 
    .content-header h1{
        font-size: 40px;
        margin-top: 6rem;
        margin-left: 31rem;
    }
      
    .content-image img{   
        left: 61rem;
        top: 2rem;
        width: 361px;
        height: 501px;
      }


    .content-tabs{
        margin-left: 0rem;
    }

    .tabs {
        margin-top: 3rem;
        margin-bottom: 30px;
    }
    
    .tab-btn {
        padding: 1rem 2rem;
        font-size: 0.93rem;
    }

    .tab-content {
        max-width: 18rem;
        margin: 0 auto;
    }
    
    .tab-content.active img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    
    .tab-content ul li {
        margin: 10px 0;
        padding: 1rem 1rem;
        font-size: 0.9rem;
    }
  }