.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-main{
  margin-left: 150px;
  margin-top: 70px;
  width: 600px;
}
 
.content-header h1{
  color: #000000;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 3rem;
}
.content-text p{
  color: #FFFFFF;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.content-redes{    
  display: flex;
  margin: 1.5rem 0 0 0;
}

.content-redes a {
  text-decoration: none;
  margin: 0 2rem 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: none;
  background-color: #dbdbdb;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.93rem;
  color: #000000; 
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
}

.image{
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.content-image img{
  position: relative;
  left: 470px;
  top: -70px;
  width: 411px;
  height: 651px;
  border-radius: 0px;
}