/* latin-ext */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://design.penpot.app/internal/gfonts/font/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://design.penpot.app/internal/gfonts/font/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
  html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ADACAC;
  }
  
  * {
    box-sizing: border-box;
  }
    
.container{
  position: absolute;
  left: 78px;
  top: 75px;
  width: 250px;
  height: 300px;
  background: #dbdbdb;
  border-radius: 0px;
}

.container-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container{
  display: inline-flex;
  margin-left: 1rem;
}


.main-content{
  width: 100%;
}

.main-content a{
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 40px;
  text-decoration: none;
}

.main-content i{
  display: inline-flex;
  width: 30px;
  font-size: 20px;
  margin-top: 15px;
  color: #1e1e1e;
}

.main-content p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 25px;
  font-weight: 400px;
  font-family: Abril Fatface;
  color: #1e1e1e;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-main{
  position: absolute;
  left: 450px;
  top: 70px;
  width: 449px;
}


.content-header h1{
  color: #000000;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.content-header p{
  color: #FFFFFF;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.content-text{
  display: flex;
  flex-direction: column;
}

.content-text p{
  color: #FFFFFF;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 0;
}

.content-redes{    
  display: flex;
  margin: 1.5rem 0 0 0;
}

.content-redes a{
  margin: 0 2rem 0 0;
}

.content-redes button{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: none;
  background-color: #dbdbdb;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.93rem;
  color: #000000; 
}

.image{
  width: 20px;
  height: 20px;
}

.content-image img{
position: relative;
left: 939px;
top: -14px;
width: 401px;
height: 713px;
border-radius: 0px;
}