/*Padronizando os componentes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #ADACAC;    
}


.container{
   display: flex; 
   justify-content: left;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-main{
    display: flex;
}

.content-redes{
    color: white;    
    display: flex;
}

.image{
    width: 20px;
    height: 20px;
}

.content-redes button{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.content-image img{
    width: 300px;
}