.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-main{
  margin-left: 10px;
  margin-top: 70px;
  width: 480px;
}
 
.content-header h1{
  color: #000000;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 3.5rem;
}

.project-container{
  width: 900px;
  height: 230px;
  background: linear-gradient(to left, #000000, #dbdbdb);
  border: 2px solid #000000;
  margin-bottom: 2rem;
}
  
.project-main{
  display: flex;
}

.project-main img{
  width: 450px;
  height: 225.8px;
  margin-right: 20px;
}

.project-text{
  display: flex;
  height: 10rem;
}

.project-text p{
  color: #FFFFFF;
  align-content: center;
  font-family: Abril Fatface;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}


.project-content-tl{
  display: flex;
  justify-content: space-between;
}

.project-tech{
  display: flex;
  height: 4rem;
  align-items: center;
}

.project-tech img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.project-links{
  display: flex;
  height: 4rem;
  align-items: center;
}

.project-links i{
  color: #FFFFFF;
  font-size: 20px;
  margin-right: 15px;
}
